.elements{
   /* justify-content: space-evenly;
    padding: 100px;
    margin-left: 400;
    margin-block: 12px;*/

/*grid-auto-flow: row;*/
/* padding: 0 40px; */
display: flex;
padding: 20px 40px;
justify-content: space-between;
background-color: bisque;
}
.elements > div {
    display: inline-flex
}
.inline-elements {
    display: inline-flex
}

.SkillTrackerTable {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
}
.pagedesign {
    background-color: rgb(245, 239, 233);
    height: 100vh;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    grid-gap: 20px;
}
