.elements{
   /* justify-content: space-evenly;
    padding: 100px;
    margin-left: 400;
    margin-block: 12px;*/

/*grid-auto-flow: row;*/
padding: 10%;
display: inline-flexbox;
justify-content: space-between;

flex-wrap: wrap;
background-color: bisque;
width: 50%;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    grid-gap: 20px;
}
